<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.subletparking.subletparking">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- added for connecting to server -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- added for connecting to server -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUpActivity" />
        <activity
            android:name=".ParkingSpotListActivity"
            android:label="@string/title_activity_parking_spot_list"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>